/********** Template CSS **********/
:root {
    --primary: #6419FF;
    --secondary: #B297F4;
    --light: #F7FAFF;
    --dark: #1D1D27;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Icons ***/

.bi-check {
    color: #8273da;
}

.bi-x {
    color: #dc3545;
}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.btn-grow {
    transition: .5s;
}

.btn-grow:hover {
    transform: scale(1.1);
    margin-top: 5px;
}

/*** Announcement Banner ***/

.announcement-banner {
    background-color: #1c1c26;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.announcement-banner p {
    padding: 1vw;
}

@media (min-width: 1066.66px) {

    .announcement-banner {
        height: 3.5em;
        font-size: 1em;
        padding: 15px 0;
    }

}

.announcement-banner a {
    color: #7573da;
    text-decoration: underline;
}

.announcement-banner a:hover {
    color: #6419ff;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--light) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--secondary) !important;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--light) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }

    .navbar-light {

        background: #201c1c;

    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }

    .sticky-top.navbar-light {
        position: fixed;
        background: rgba(32, 28, 28, 0.85);
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--secondary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--primary);
    }
}


/*** Hero Header ***/
.hero-header {
    background:
        url(../img/bg-dot.png),
        url(../img/bg-dot.png),
        url(../img/bg-round.png),
        url(../img/bg-tree.png),
        url(../img/bg-bottom-hero.png);
    background-position:
        10px 10px,
        bottom 190px right 10px,
        left 55% top -1px,
        left 45% bottom -1px,
        center bottom -1px;
    background-repeat: no-repeat;
    border-radius: 15px
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}


/*** Service ***/
.service-item {
    position: relative;
    height: auto;
    min-height: 400px;
    padding: 25px 25px;
    background: #2a293e;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 25px auto;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background: url(../img/icon-shape-primary.png) center center no-repeat;
    transition: .5s;
}

.service-item:hover .service-icon {
    color: var(--primary);
    background: url(../img/icon-shape-white.png);
}

.service-item h5,
.service-item h3,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover h3,
.service-item:hover p {
    color: var(--light);
}

.service-item a.btn {
    position: relative;
    display: flex;
    color: var(--primary);
    transition: .5s;
    z-index: 1;
}

.service-item:hover a.btn {
    color: var(--primary);
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: #DDDDDD;
    transition: .5s;
    z-index: -1;
}

.service-item:hover a.btn::before {
    width: 100%;
    background: var(--light);
}

.service-tag-free {
    background-color: rgb(200, 255, 200);
    color: darkolivegreen;
    font-size: 100%;
    font-weight: 500;
    width: 75px;
    border-radius: 100px;
}

.service-tag-paid {
    background-color: rgb(255, 255, 100);
    color: darkgoldenrod;
    font-size: 100%;
    font-weight: 500;
    width: 100px;
    border-radius: 100px;
}


/*** Testimonial ***/

.newsletter,
.testimonial {
    background:
        url(../img/bg-top.png),
        url(../img/bg-bottom.png);
    background-position:
        left top,
        right bottom;
    background-repeat: no-repeat;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--light) !important;
    border-color: var(--light);
    cursor: grab;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #888888;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
    color: var(--primary) !important;
    cursor: grab;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
    color: var(--dark) !important;
}

@media (max-width: 1010.5px) {

    .verified {
        position: relative;
        width: 50px !important;
        height: 50px !important;
        top: 50px !important;
    }

}

@media (min-width: 1010.5px) {

    .verified {
        position: relative;
        width: 50px !important;
        height: 50px !important;
    }

}


/*** Team ***/
.team-item {
    position: relative;
    transition: .5s;
    z-index: 1;
}

.team-item::after {
    position: absolute;
    content: "";
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: #2a293e;
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    transition: .5s;
    z-index: -1;
}

.team-item:hover::after {
    background: var(--primary);
}

.team-item h5,
.team-item small,
.team-item p {
    transition: .5s;
}

.team-item:hover h5,
.team-item:hover small,
.team-item:hover p {
    color: var(--light);
}

.team-note {
    color: #707070;
    font-size: small;
    font-weight: 500;
}


/*** Project Portfolio ***/
#portfolio-flters .btn {
    position: relative;
    display: inline-block;
    margin: 10px 4px 0 4px;
    transition: .5s;
}

#portfolio-flters .btn::after {
    position: absolute;
    content: "";
    right: -1px;
    bottom: -1px;
    border-left: 20px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 50px solid #FFFFFF;
}

#portfolio-flters .btn:hover,
#portfolio-flters .btn.active {
    color: var(--light);
    background: var(--primary);
}

.portfolio-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 0;
    left: 0;
    background: var(--primary);
    transition: .5s;
    z-index: 1;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-item .btn {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/icon-shape-white.png) center center no-repeat;
    border: none;
    transition: .5s;
    opacity: 0;
    z-index: 2;
}

.portfolio-item:hover .btn {
    opacity: 1;
    transition-delay: .15s;
}


/*** Footer ***/
.footer {
    background: url(../img/footer.png) center center no-repeat;
    background-size: contain;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 2px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 2px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.pricing-table-title {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 60px 0 15px 0;
}

.pricing-table-title:first-child {
    margin-top: 30px;
}

.pricing-table-title h2 {
    font-size: 35px;
    font-weight: 900;
    color: #2A293E;
    letter-spacing: 2px;
}


/* -------------- Pricing Table Style -------------- */
.pricing-table {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.pricing-table .ptable-item {
    width: 33.33%;
    padding: 15px;
}

@media (max-width: 992px) {
    .pricing-table .ptable-item {
        width: 33.33%;
    }
}

@media (max-width: 768px) {
    .pricing-table .ptable-item {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .pricing-table .ptable-item {
        width: 100%;
    }
}

.pricing-table .ptable-single {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.pricing-table .ptable-header,
.pricing-table .ptable-body,
.pricing-table .ptable-footer {
    position: relative;
    width: 100%;
    text-align: center;
    background: #ffffff;
    overflow: hidden;
}

.pricing-table .ptable-status,
.pricing-table .ptable-title,
.pricing-table .ptable-price,
.pricing-table .ptable-action {
    position: relative;
    width: 100%;
    text-align: center;
}

.pricing-table .ptable-description {

    position: relative;
    width: 100%;
    text-align: left;

}

/* --- Pricing Table 3 --- */
.pricing-table.table-3 .ptable-single {
    border-radius: 10px;
    transition: .5s;
}

.pricing-table.table-3 .ptable-single:hover {
    box-shadow: 0 0 100px #6419FF;
    transform: translateY(-15px);
    transition: .5s;
}

.pricing-table.table-3 .ptable-header {
    padding: 30px 0 0 0;
    background: #2A293E;
    margin-bottom: -10px;
}

.pricing-table.table-3 .ptable-item.premium .ptable-header {
    background: #6956ad;
}

.pricing-table.table-3 .ptable-item.basic .ptable-header {
    background: #b297f4;
}

.pricing-table.table-3 .ptable-title h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
}

.pricing-table.table-3 .ptable-price h2 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 900;
    margin-left: 15px;
}

.pricing-table.table-3 .ptable-price h2 small {
    position: absolute;
    font-size: 18px;
    font-weight: 900;
    margin-top: 16px;
    margin-left: -15px;
}

.pricing-table.table-3 .ptable-price h2 span {
    margin-left: 3px;
    font-size: 16px;
    font-weight: 300;
}

.pricing-table.table-3 .ptable-body {
    padding: 60px 0;
    background: #f7f7f7;
}

.pricing-table.table-3 .ptable-body::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border-top: 100px solid #2A293E;
    border-right: 550px solid transparent;
}

.pricing-table.table-3 .ptable-body::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    border-bottom: 100px solid #2A293E;
    border-left: 550px solid transparent;
}

.pricing-table.table-3 .ptable-item.premium .ptable-body::before {
    border-top: 100px solid #6956ad;
}

.pricing-table.table-3 .ptable-item.premium .ptable-body::after {
    border-bottom: 100px solid #6956ad;
}

.pricing-table.table-3 .ptable-item.basic .ptable-body::before {
    border-top: 100px solid #b297f4;
}

.pricing-table.table-3 .ptable-item.basic .ptable-body::after {
    border-bottom: 100px solid #b297f4;
}

.pricing-table.table-3 .ptable-description ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pricing-table.table-3 .ptable-description ul li {
    color: #2A293E;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 7px;
    border-bottom: 1px solid #eeeeee;
}

.pricing-table.table-3 .ptable-description ul li:last-child {
    border: none;
}

.pricing-table.table-3 .ptable-footer {
    background: #2A293E;
    padding-bottom: 20px;
}

.pricing-table.table-3 .ptable-item.premium .ptable-footer {
    background: #6956ad;
}

.pricing-table.table-3 .ptable-item.basic .ptable-footer {
    background: #b297f4;
}

.pricing-table.table-3 .ptable-action a {
    display: inline-block;
    padding: 10px 25px;
    color: #2A293E;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    background: #b297f4;
    border-radius: 50px;
    transition: .5s;
}

.pricing-table.table-3 .ptable-action a i {
    margin-right: 0px;
}

.pricing-table.table-3 .ptable-action a:hover {
    color: #b297f4;
    background: #ffffff;
    transition: .5s;
}

.pricing-table.table-3 .ptable-item.premium .ptable-action a {
    color: #735da1;
    background: #2A293E;
}

.pricing-table.table-3 .ptable-item.premium .ptable-action a:hover {
    color: #6956ad;
    background: #ffffff;
    transition: .5s;
}

.pricing-table.table-3 .ptable-item.basic .ptable-action a {
    color: #b297f4;
    background: #2A293E;
}

.pricing-table.table-3 .ptable-item.basic .ptable-action a:hover {
    color: #b297f4;
    background: #ffffff;
    transition: .5s;
}

/* --- Monthly/Annual Pricing Toggle Switch --- */

.toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.toggle-btn label {
    margin: 0 0.5em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6c757d;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    transform: translate(0px, 0px);

}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #6419ff;
    transition: 0.4s;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* --- Monthly Expenses Table --- */

.simple-table-wrapper {
    padding: 100px 25%;
}

.simple-table {
    width: 100%;
    border-spacing: 0;
}

.simple-table td.cell {
    border-right: 2px solid #2b0080;
    border-bottom: 2px solid #2b0080;
    word-break: break-word;
    background-color: #6419ff;
    width: 33.333333333333%;
}

.simple-table td.cell .paragraph {
    width: 90%;
    margin: 0 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
}

.simple-table.style-top tr:first-child td,
.simple-table.style-side td:first-of-type {
    background-color: #2b0080;
}

.simple-table.style-top tr:first-child td .paragraph,
.simple-table.style-side td:first-of-type .paragraph {
    font-weight: 700;
}

.simple-table tr:last-child td {
    border-bottom: none;
}

.simple-table td:last-of-type {
    border-right: none;
}

.simple-table .empty-content-area-element {
    padding-left: 0px !important;
}